.owl-controls {
  margin-top: 1rem;
}

.owl-buttons, .owl-pagination {
  display: inline-block;
}

.owl-carousel__item img {
  display: block;
  width: 100%;
  height: auto;
}

// Next and previous
.owl-buttons div {
  @include button;
  background: $grey;
}

// Styling Pagination
.owl-page {
  display: inline-block;
  span {
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background: $grey;
    &:hover {
      background: $inca-pink;
    }
  }
}

.owl-pagination {
  float: right;
}

.owl-pagination .active span {
  background: darken($inca-pink, 30);
}

// Preloading images
.owl-item.loading{
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center
}