.quote {
  padding: 0 4rem 0 2rem;
  border-left: solid 0.5rem $inca-pink;
}

.quote__the-quote {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 900;
}

.quote__the-quoter {
  font-style: normal;
  a {
    color: $inca-pink;
    &:hover {
      color: $inca-purple;
    }
  }
}