// TYPE RAMP
////////////////////////////////////////////////////////////////////////////////

$h1-font-size: 2.25rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$base-font-size: 100%;
$base-line-height: 1.5;

// PALLETTE
////////////////////////////////////////////////////////////////////////////////

$white: #f6f9f7;
$black: #000000;
$grey: #aeaeae;
$blue: #1020d0;

$inca-pink: #bf66a8;
$inca-purple: #75096c;

$body-colour: $white;
$link-colour: $inca-pink;
$link-hover-colour: $inca-purple;
$background-colour: $black;
$primary-colour: $black;
$secondary-colour: $white;

// MEDIA QUERIES (Mobile first)
////////////////////////////////////////////////////////////////////////////////

// Example: @include respond-to(small-only) {};

$break-base: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

@mixin respond-to($media) {
  @if $media == small-only {
    @media only screen and (max-width: $break-medium - 1px) { @content; }
  }
  @else if $media == medium-up {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == medium-only {
    @media only screen and (min-width: $break-medium) and (max-width: $break-large - 1px) { @content; }
  }
  @else if $media == large-up {
    @media only screen and (min-width: $break-large) { @content; }
  }
}