@charset "UTF-8";

// IMPORTS
////////////////////////////////////////////////////////////////////////////////

@import 'settings';
@import 'vendor/vendor';
@import 'base/base';
@import 'modules/modules';

// GLOBAL OVERRIDES
////////////////////////////////////////////////////////////////////////////////

// Get rid of gap under images by making them display: inline-block; by default
img {
  display: inline-block;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  min-height: 50px;
}

// Make select elements 100% width by default
select {
  width: 100%;
}

// INCA
////////////////////////////////////////////////////////////////////////////////

body {
  background: url(../images/background.png) no-repeat left bottom fixed;
  background-size: cover;
  background-color: $background-colour;
  color: $body-colour;
}

blockquote {
  margin: 0;
}

// Layout

.right {
  float: right;
}

.container {
  padding: 0 2rem;

  @include respond-to(medium-up) {
    width: 60%;
    float: right;
    padding: 0 2rem 0 0;
  }
}

.section {
  margin-bottom: 4rem;

  @include respond-to(medium-up) {
    margin-bottom: 8rem;
  }
}

.main-title {
  font-size: 3rem;
  margin: 0 0 1rem 0;

  @include respond-to(medium-up) {
    font-size: 4rem;
    margin: 5rem 0 4rem 0;
  }
}

.main-title--home {
  @include respond-to(medium-up) {
    margin-bottom: 8rem;
  }
}

.view-all {
  @include button;
  color: $white;
  &:hover {
    color: $inca-pink;
  }
}

// Illustration

.logo {
  @include respond-to(medium-up) {
    width: 20%;
    position: fixed;
    top: 1rem;
    left: 2rem;
    z-index: 120; // above nav
  }
}

.peeps {
  width: 100%;
  @include respond-to(medium-up) {
    width: 40%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

// Button

.button {
  @include button;
}